.createCategory:last-child {
    margin-bottom: 20px;
}
.createCategory {
    form {
        display: flex;
        flex-direction: column;
    }
}
.title {
    // margin: 20px 0 0;
    font-size: 22px;
}
.container {
    margin: 20px 0 0;

    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
}
.containerInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
}

.description {
    position: relative;
    text-align: start;
    textarea {
        border: 1px solid rgba(71, 71, 71, 0.5);
        width: 100%;
        height: 300px;
        resize: none;
        padding: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: rgb(71, 71, 71);
        margin: 10px 0 10px;
    }

    // width: 100%;
}
.input {
    margin: 10px 0 0;
}
.img {
    visibility: hidden;
    width: 250px;
    height: 250px;
    background-color: rgba(71, 71, 71, 0.1);
}
.modal {
    padding: 40px 10px 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(71, 71, 71, 0.123);
    width: 55vw;
    height: 30vh;
    padding: 10px, 20px;
    z-index: 100;
    transform: translate(50%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalMessege {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pictureInput{
input{
    margin-top: 10px;
}
}
.message{
    color: var(--blue)
}
.alertMessage{
    color:red;
    font-size: 20px;
}
.confirm:first-child{
    margin-right: 20px;
}
.confirm{
    display: flex;
justify-content: space-around;
}