.goodBuy{
    
    margin: 0 0 0.2em;
    // padding: 0 2rem;
    align-items: center;

&__price {
    margin-right: 2em;
}
&__button{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .8px;

    
}
&__buttonInCart{
    line-height: 1;
    background-color: orange;
    // padding:0 2rem;
    letter-spacing: .8px;
    font-weight: 600;
    font-size: 16px;
}
}
