.goodBuy{
    
    margin: 0 0 0.2em;
    // padding: 0 2rem;
    align-items: center;

}


// @media (max-width: 999px) {
// }
@media (max-width: 759px) {
    .goodBuyButton{
        // padding: 3px 8px;
        font-weight: 300;

        font-size: 16px;
    }
    .goodBuyButtonCont{

    }
   
}
@media (max-width: 650px) {
    .goodBuyButton{
        padding: 6px 12px;
        font-weight: 400;

    }
}
// @media (max-width: 565px) {
// }
@media (max-width: 450px) {
    .goodBuyButton{
        padding: 6px 12px;
        font-weight: 400;
        font-size: 24px;

    }
}