.categoryCard{
    padding: 0px 10px;
    max-height:400px;
    display:flex; 
    flex-direction: column;
    transition: all .3s;
    &__name:visited{
        // margin-top: 20px;
        color:black;
    }
    &__name{
        line-height: 1.2;

        margin: 20px 0;
        color:rgb(47, 181, 252);
        font-size: 22px;
        font-weight: 700;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        height:1.2em
    }
    &__image{
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
        
    }
    &__goodsList{
        
    }
}
.categoryCard:hover{
    // border: solid 1px rgb(71,71,71);
    // border-top: none;
    // border-bottom: none;
    box-shadow:
    -2px 0px 2px -2px rgba(0, 0, 0, 0.5), 
        2px 0px 2px -2px rgba(0, 0, 0, 0.5);

    filter: brightness(115%);
  
}
.goodsList{
    // text-decoration: none;
    width: fit-content;
    &__title {
        li{
            line-height: 1.1;
            font-size: 18px;
            text-align: left;
            margin-bottom: 5px;
            overflow: hidden;
            height:1.1em;
            
            text-overflow:ellipsis;
        }
    }
    
    &__title:hover{
        color:rgb(47, 181, 252);
        // text-decoration: underline;
    }
}