.tooltip{
  
    background: var(--blue-less-transparent);
    // border: 1px solid rgb(108, 108, 108);
    border-radius:5px;
    padding: 7px;
    color:var(--black-grey-transparent);

    z-index: 5;

}
.right::after{
    content: " ";
    position: absolute;
    top: 50%;  /* At the top of the tooltip */
    left: -10px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--blue-less-transparent) transparent  transparent ;
}
.tooltip.right{
    position:absolute;
    right:-5px;
    bottom: 0;
    transform: translate(100% ,-50%);
    z-index: 5;

}
.bottom::after{
    content: " ";
    position: absolute;
    top: -5px;  /* At the top of the tooltip */
    left:20%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--blue-less-transparent)  transparent ;
}
.tooltip.bottom{
    position:absolute;
    left:0%;
    bottom: -5px;
    transform: translate(0 ,100%);
    z-index: 5;

}
.top::after{
    content: " ";
    position: absolute;
    bottom: -10px;  /* At the top of the tooltip */
    left:20%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--blue-less-transparent)  transparent transparent  transparent ;
}
.tooltip.top{
    position:absolute;
    left:20%;
    top: 20px;
    transform: translate(0 ,-100%);
    z-index: 5;

}