.input {
    padding: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    color: var(--black-grey );
    width: 100%;
    margin: 5px 0 0 ;
    text-align: start;
}

.input::placeholder {
    color: var(--grey)
}

.container {
    position: relative;
 display: flex;
 flex-direction: column;
 margin: 7px 0;
}
