@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
:root {
  font-family: "Oswald", sans-serif;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
*:visited {
  color: black;
}
:root {
  --blue: rgb(47, 181, 252);
  --blue-transparent: rgba(47, 180, 252, 0.1);
  --blue-less-transparent: rgba(47, 180, 252, 0.5);
  --blue-hover: rgb(70, 188, 252);
  --black-grey: rgb(71, 71, 71);
  --black-grey-transparent: rgb(71, 71, 71, .8);
  --grey: rgb(109, 109, 109);
  --grey-transparent: rgba(109, 109, 109, 0.2);
  --white-grey: rgb(148, 163, 184);
  --orange-hover: rgb(255, 186, 58);
  --orange-transparent: rgba(255, 166, 0, 0.3);
}
.Skeleton {
  display: flex;
  justify-content: center;
  /* max-height: 350px; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  height: 100%;
}
