.goodsPage{
    &__description{
font-size: 16px;
font-weight: 300;
margin:20px 0;
line-height: 1.1;
    }
}
.backButton{
    // height: 50px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}
.pagination{
    margin:20px 0;
   text-align: center;
}
