.cartMenu {
    position: absolute;
    bottom: 50%;
    right: 50%;
    background-color: whitesmoke;
    border: 1px solid rgba(71, 71, 71, 0.123);
    width: 55vw;
    padding: 10px, 20px;
    z-index: 100;
    transform: translate(50%, 50%);
    &__topBar {
        padding: 7px 10px 3px 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-size: 18px;
    }
    &__close:hover {
        color: rgba(71, 71, 71, 0.845);
    }
    &__close {
        color: rgb(38, 38, 38);
        text-align: right;
    }
    &__goodList {
        margin: 20px ;
        padding: 20px 0;
    }
    &__arrange {
        margin: 20px;
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    &__totalPrice {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
