.backNavigate{
    padding: 0;
    margin: 20px 0;
    text-align: start;
}

// @media (max-width: 999px) {
// }
@media (max-width: 759px) {
    .backNavigate{
        padding: 0;
        margin: 10px;
        text-align: start;
    }
}
// @media (max-width: 565px) {
// }
// @media (max-width: 450px) {
// }