.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.3);
    z-index: 10;
    cursor: default;
}
.itemWindow {
    border: 1px solid rgba(71, 71, 71, 0.4);
    min-width: 400px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0px 10px;
    display: grid;
    grid-template-rows: 30px 8fr auto;
    &__title {
        display: grid;
        grid-template-columns: 18px 10fr 30px;
        align-items: center;
        width: 100%;
        outline: 1.5px solid rgba(71, 71, 71, 0.4);
span:hover{
    scale: 1.2;
}
        svg {
            color: rgb(71, 71, 71);
        }
        svg:hover {
            // margin: 0 auto;
            color: rgb(0, 0, 0);
            color: orange;
            font-weight: 500;
        }
    }
    &__container {
        // padding: 8px;
        height: 100%;
    }
    &__flexContainer {
        // display: flex;
        // flex:1 1 100%;
        // flex-direction: column;
        // justify-content:space-between;
        // align-items: center;
        // align-content: stretch;
    }
    &__message {
        margin: auto 0;
        //     display: flex;
        //   align-self:center;
    }
    &__btnContainer {
        padding: 0 40px 10px;
        display: flex;
        justify-content: space-around;
    }
}
.btnContainer__btn {
    margin: 10px 5px 5px 5px;
}
.children {
    position: relative;
}
