.adminPage{
    display: flex;
 
   
}
.buttonContainer{
   flex: 0 0 250px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 20px 0 0;
   border-right: 1px solid var(--grey-transparent);
   a.active{
    text-decoration: none;
    color: var(--blue);
}
}
.button.active{
    background-color:var(--orange-hover);
   
}
.button{
    // height: 30px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid var(--grey-transparent);
}
.spinner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   width: calc(100vh - 180px);
   svg{
          margin: 50% 0;
   }
}