.orderForm {
    align-items: start;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 50px;
    text-align: start;

}
    
    .delivery {
        margin-top: 10px;
        padding: 50px; 
    }
    .contacts {
        margin-top: 10px;
        padding: 0 50px;
    }


