.categoryCard {
    padding: 0px 10px;
    height: 400px;
    max-height: 400px;
    width: 100%;
    // display: grid;
    // grid-template-rows: 1fr 6fr 4fr;
    transition: all 0.3s; 
    overflow: hidden;
    position: relative;
}
.item {
    margin: 0 auto;
}
.name:visited {
    color: black;
}
.name {
    line-height: 1.2;

    margin: 20px 0;
    color: rgb(47, 181, 252);
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    height: 1.2em;
}
.imageContainer{
  
position: relative;
overflow: hidden;
margin-bottom: 10px;
// height: 100%;
padding-bottom: 60%;
}
.image {
    position: absolute;
    top:0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.categoryCard:hover {
    box-shadow: -2px 0px 2px -2px rgba(0, 0, 0, 0.5), 2px 0px 2px -2px rgba(0, 0, 0, 0.5);
    filter: brightness(105%);
}
.goodsList {
    width: fit-content;
}
.title {
    li {
        overflow: hidden;
        line-height: 1.1;
        font-size: 18px;
        text-align: left;
        margin-bottom: 5px;
        height: 1.1em;

        text-overflow: ellipsis;
    }
}
.title:hover {
    color:var(--blue);
}

.gradient {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    height: 50px;
}







@media (max-width: 999px) {
    .gradient{
        height: 25px;
    }
}
@media (max-width: 759px) {
    .categoryCard {
        height: 280px;
        max-height: 300px;
    }
    .gradient{
        height: 12px;
    }
    .title{
        li{
            font-size: 14px;
        }
    }
    .name{
        font-size: 16px;
    }
}

@media (max-width: 565px) {
  
}

@media (max-width: 450px) {
    .goodsList {
        display: none;
    }
    .categoryCard:not(:last-child) {
        border-bottom: 1px solid var(--grey-transparent);
    }

}



// @media (max-width: 999px) {
// }
// @media (max-width: 759px) {
// }
// @media (max-width: 565px) {
// }
@media (max-width: 450px) {
}