.modalWindow{
   
        position: fixed;
        left: 0;
        top: 0;
      bottom:0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(48, 48, 48, 0.3);
        z-index: 10;
        overflow:hidden;
        overflow-y:hidden;  /*для вертикального*/
        overflow-x:hidden;
        cursor:default;
    
    
}
// :root{

//     overflow:hidden;
//     overflow-y:hidden;  /*для вертикального*/
//     overflow-x:hidden;
// }