.adminPage{
    display: flex;
 
    
}
.buttonContainer{
   flex: 0 0 25%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 20px 0 0;
   border-right: 1px solid var(--grey-transparent);
    
}

.button{
    margin:0 0 20px 0;
    width: 200px;
}
.button {
}
.spinner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   width: calc(100vh - 180px);
   svg{
          margin: 50% 0;
    // transform: translateY(50%);
   }
}