
.button:hover {
    // filter:brightness(105%)
}
.button {
    width: 135px;
    height: 50px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #2FB5FC;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.backButton {
    font-size: 14px;
    font-weight: bold;
    color: rgb(148, 163, 184);
    cursor: pointer;
}