.cartBlock{
    display: flex;
    align-items: center;
    // position: relative;
    
&__icon:hover {
color:orange;
  }
  &__icon {
    cursor: pointer;
    position: absolute;
    // right: 80px;
    margin-left: 5px;
    color:whitesmoke;
  }
  &__totalPrice {
    color:whitesmoke;
    // position: absolute;
    right: 0px;
    margin-left: 55px;
    font-weight: bold;
    font-size: 1.2em;
  }
}