.userOrderItem {
    margin: 10px 0;
}
summary {
    cursor: pointer;
}
.summary {
    padding: 0 5px;
    background-color: var(--white-grey-transparent);
    line-height: 1.5;
}
.userOrdersTable {
    border: 1px solid var(--black-grey);
    margin-top: 10px;
}
.header {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-grey);
    padding: 5px 0;
}
.headerEl {
    margin: 0 5px;
}
.userInfo {
    margin: 0 5px;
    font-size: 16px;
}
.tel:hover,
.email:hover {
    text-decoration: underline;
    color: var(--blue);
}
.tel,
.email {
    margin-right: 40px;
}
.userContacts {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}
.orderInfo {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-grey);
    padding: 5px 0;
}
.statusUpdated,
.status {
    margin: 0 5px;
}
.listTitile {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid var(--black-grey);
    background-color: var(--orange-transparent);
}

.totalPrice {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--orange-transparent);
    border-bottom: 1px solid var(--black-grey);
}
.deliveryEl {
    padding: 2px 5px;
    font-size: 16px;
}
.deliveryFooter {
    display: flex;
}
.deliveryFooterEl {
    padding: 5px;
}
.title {
    font-weight: 600;
}

.image {
    width: 100px;
    height: 100px;
}
.colImg {
    text-align: center;
    width: 100px;
}
