.cartBlock {
  margin: auto 0;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative;
}
.icon:hover {
  color: orange;
}
.icon {
  cursor: pointer;
  margin-left: 5px;
  color: whitesmoke;
}
.totalPrice {
  color: whitesmoke;
  right: 0px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.2em;
}
@media (max-width: 565px) {
.totalPrice {
display: none;
}
.container {
  justify-content: center;
}
}



@media (max-width: 999px) {
  
}
@media (max-width: 759px) {
  .modalWindow{
  width: 100vw;

  }
}
@media (max-width: 650px) {
}
@media (max-width: 450px) {
  .modalWindow{
    height: 100vh;
    
    }
}
