.createGood{
    &__name{
            padding: 10px;
            border: 0.5px solid rgba(0, 0, 0, 0.3);
            color: rgb(71,71,71);
            width: 100%;
            resize: none;
            margin-top: 5px;
        }
        &__name::placeholder {
            color: rgb(109,109,109)
        }
    label{
        position:relative
    }
    border-bottom: 1px solid rgba(71, 71, 71, 0.1);
    padding: 20px 0;
    &__title{
        margin:20px 0 0;
        font-size: 22px;
    }
    &__container{
        label{
            position:relative
        }
        margin:20px 0 0;

        display: grid;
        grid-template-columns: 2fr 3fr;
        gap:40px
    }
    &__containerInputs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: start;
    }
    &__imgMain{
        padding: 20px;
        width: 220px;
        border: 1px solid rgba(71,71,71, .2)
    }
    &__img{
        padding:10px;
        margin:10px;
        width: 100px;
        border: 1px solid rgba(71,71,71, .2)

    }
    input {
        padding: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: rgb(71,71,71);
        width: 100%;
        margin: 10px 0 0;

    }
    
    input::placeholder {
        color: rgb(109,109,109)
    }
    label input[type='file']{
        margin: 5px 0;
    }
    
    &__containerInside{
        input,label{
            margin-right: 20px;
            width: 150px;
        }
        display: flex;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    select {
        border: 1px solid rgba(71,71,71, .5);
        width:100%;
        margin:10px 0 ;
        padding: 7px 5px;
        color: rgb(71,71,71);
    

    }
    &__description{
        position:relative;
        text-align: start;
        textarea{
        border:1px solid rgba(71,71,71, .5);
        width: 100%;
        height:300px;
        resize: none;
        padding: 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: rgb(71,71,71);
        margin:10px 0 10px;
 
        // width: 100%;
    }}
    &__input{
        margin:10px 0 0;
    }
    &__modal{
        padding: 40px 10px 30px;
        position: absolute;
        top: 50%;
        right: 50%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(71, 71, 71, 0.123);
        width: 55vw;
        height: 30vh;
        padding: 10px, 20px;
        z-index: 100;
        transform: translate(50%, 10%);
        display: flex;
        flex-direction: column;
        justify-content:space-between;
    }
    &__modalMessege{
display: flex;
justify-content: center;
align-items:center;
height: 100%;
    }
} 
.inputContainer{
    margin: 0;
}

.error{
    margin-top: 5px;
    line-height: 1;
    height: 20px;
    color:red;
}