.searchListUpdateGood{
    flex: 1 1 70%;
    margin:20px 0 20px 20px;
}
.goodItem{
    height: 150px;

    position: relative;
    font-size: 18px;
    text-align: start;
    padding:10px;
    border:1px solid rgba(71, 71, 71, 0.2) ;
display:flex;
justify-content: space-between;
align-items:center;
margin-bottom: 5px;
p{
margin: 5px 0 5px 20px;
}
}
.buttons{
margin: 10px 20px 0;
display: flex;
justify-content: space-between;
padding-right: 20px;
}
.btn{
padding: 3px 9px;
width: 120px;
height: auto;
margin: 0px 20px 0 0;

}
// .buttonDelete{
// padding: 3px 9px;
// width: 120px;
// height: auto;
// }
.goodImage{
    margin:0 20px;

    // width: 150px;
    height: 95%;
}
