.footer {
    flex: 0 0 auto;
    border-top: 3px solid rgba(71, 71, 71, 0.247);
    li {
        margin: 5px 0 0;
    }
    span {
        font-weight: 600;
    }
    a {
        color: rgb(47, 181, 252);
    }
    a:hover {
        text-decoration: underline;
    }
}
    .container {
        padding:20px 20px;
    }
    .mainInfo {
        display: flex;
        justify-content: space-between;

    }
    .workingHours {
        margin: 0 0 10px;

    }
    .days {
        width: 120px;
        display: flex;
        justify-content: space-between;
    }
    .info {
        margin: 0 10px;
    }
    .address {
        span {
            margin-top: 5px;
        }
    }
    .genInfo {
        margin-top: 5px;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }


// @media (max-width: 999px) {
// }
// @media (max-width: 759px) {
// }
@media (max-width: 520px) {
    .mainInfo{
    flex-wrap: wrap;

    }
    .info {

        // margin: 0 0 10px;
    }
}
// @media (max-width: 450px) {
// }
