.userOrders {
text-align: start;
// height: 100%;
   
}
.userOrdersTable{
    border:1px solid var(--black-grey);
    width:50%;
    margin-top: 10px;
}
.header{
font-size: 16px;
font-weight: 600;
    display: flex;
    justify-content: space-between;
border-bottom:1px solid var(--black-grey);  
padding: 5px 0;
}
.headerEl{
margin: 0 5px;
}

.orderInfo{
    font-size: 14px;
    font-weight: 600;
        display: flex;
        justify-content: space-between;
    border-bottom:1px solid var(--black-grey);  
    padding: 5px 0;
}
.statusUpdated, .status{
    margin: 0 5px;

}
.listTitile{
    padding:  5px;
    font-size: 16px;
    font-weight: 600;
    border-bottom:1px solid var(--black-grey);  
    background-color: var(--orange-transparent);
    
}

.goodName {
    // grid-area: 1 / 1 / 2 / 3;
    padding:  5px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--blue-transparent);
    border-bottom:1px solid var(--black-grey);  

}
.goodInfoRow{
    display: grid;
    grid-template-columns: auto 100px;
}
.price, .count, .articul{
    padding:  5px;
    font-size: 16px;
    font-weight: 400;
}
.totalPrice{
    padding:  5px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--orange-transparent);
    border-bottom:1px solid var(--black-grey);  
}
.deliveryEl{
    padding:  0 5px;
    font-size: 16px;
    // font-weight: 600;
}
.deliveryFooter{
    display: flex;

}
.deliveryFooterEl{
padding: 5px;

}
.title{
    font-weight: 600;
}
.price {
}
.count {
}
.articul {
}

.status {
    // grid-area: 2 / 1 / 3 / 2;
}
.statusItem{
}
.statusUpdated {
    // grid-area: 2 / 2 / 3 / 3;
}
.titleList {
    // grid-area: 3 / 1 / 4 / 3;
    // background:var(--orange-transparent);
}
.deliveryInfo {
    // grid-area: 4 / 1 / 5 / 3;
}

.image {
    width: 100px;
    height: 100px;
    // transform: translateX(50%);
}
.colImg{
    text-align: center;
// width: 40%;
width: 100px;

}





.spinner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}
.mainTitle{
font-size: 24px;
text-align: center;
margin: 20px 0;
}