.searchBar{
    // margin-right: 80px;
    /* align-self: center; */
    display: flex;
    align-items:center;
    
    height: 45px;
    overflow: hidden;
    &__input::placeholder {
        font-size:16px;
    }
    &__input:hover{
        background-color:rgb(252, 252, 252);
        
    }
    &__input{
        // height: 45px;
        // flex: 1 1 80%;
        position: relative;
        height: 100%;
    background-color:whitesmoke;
    padding: 3px 3px 3px 45px;
    font-size: 22px;
    line-height: 1;
    color:rgb(63, 63, 63);
    transition: all .3s;

    // position: relative;
}

&__iconClear.active:hover{
    scale: 1.2;
   
}
&__iconClear:hover{
    scale:1.1;
    // transform:translate(-100% , 0);

}
&__iconClear{
    cursor:pointer;
    // position:absolute;
    right:0;
    transform: translateX(-110%);
    // transform:translate(-100% , 0);
    right: 0px;

    z-index:2;
    // right: 40px;
    transition: all .3s;
}

&__icon:hover{
    scale: 1.2;
}
&__icon{
    position: absolute;
    // top:50%;
    transform:translateX(25%);
    z-index:2;
    // left: 9px;
    color:rgb(40, 40, 40);
    transition: all .3s;
    
   
}
&__button:hover{
    background-color:rgb(255, 187, 0);
    
}


}
.searchButton{
    // position: static;
// transform: translateX(-35px);


height:50px;
}