.cartItem {
    margin: 0 auto;
    img {
        width: 70px;
        height: auto;
    }

    thead th {
        font-weight: 500;
        padding: 5px 5px;
    }
    tbody th {
        font-weight: 300;
    }
 
    th {
        padding: 2px 5px;
    }
}
// @media (max-width: 999px) {
// }
// @media (max-width: 759px) {
// }
@media (max-width: 650px) {
    .cartItem thead {
display:none;
    }
    
 }