.header {
    display: flex;
    height: 80px;
    align-items: center;
    &__headerContainer {
        display: grid;
        grid-template-columns: 1fr 6fr 3fr 2fr;
    }
    &__item {
        display: flex;
        /* width: 80vw; */

        // color: white;
        font-size: 26px;
        text-decoration: none;
        font-weight: 700;
    }
    &__title {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(71, 71, 71);
    }
    &__logo {
        margin-right: 2rem;
    }
    &__menu {
        text-decoration: none;
        color: rgb(71, 71, 71);
    }
    &__basket {
        text-align: right;
    }

    &__logoIcon {
        cursor: pointer;
       
    }
    &__basketIcon {
        cursor: pointer;
    }
}
