.orderForm{
    align-items: start;
//    position: relative;
    &__contactsItem{

    }
    &__delivery{

        margin-top: 10px;
        border: 1px solid #000;
        border-radius:10px;
        padding: 50px;

    }
    &__contacts{

        margin-top: 10px;
        border: 1px solid #000;
        border-radius:10px;
        padding: 50px;
    }
    // &__contacts .active{
    //     height:400px;
    //     overflow:none;
    // }
    // &__delivery .active{
    //     height:500px;
    //     overflow:visible;

    // }
}
.caption{
    // height:60px;
    font-size: 26px;
    color:deepskyblue;
}
// .active{
//     transition: all 1s;

//     height:100%;
//     overflow:none;
// }