.cartItem {
    // display: flex;
    // justify-content: space-between;
    margin: 0 auto;
    &__index {
        flex: 0 0 2%;
    }
    &__image,img {
        width: 70px;
        height: auto;}
    &__image {
        flex: 0 0 8%;
       
    }
    &__title {
        flex: 0 0 55%;
        overflow: hidden;
        height: 1.1em;
        text-overflow: clip;

        margin-left: 20px;
        &__count {
            flex: 0 0 15%;
        }
    }
    &__price {
        flex: 0 0 10%;
    }
    &__delete{
        flex: 0 0 55%;

    }
    thead th{
    font-weight: 500;
    padding: 5px 5px;

    
}
tbody th {
    font-weight: 300;
    
}
thead{
    }
}
th{
    padding: 2px 5px;
}
