.deliveryPost{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 50px;

        label{
    display: flex;
    flex-direction: column;
position: relative;
            }
            input{
                margin: 5px 0;
            }
            
        }
        .deliveryPost__postN{
            input{

                width: 50px;
            }
        }