.subHeader {
    background-color: rgb(108, 108, 108);
    height: 60px;
    &__container{
        display: grid;
        grid-template-columns: 2fr 4fr 1fr 1.75fr;
        align-content: center;
        align-items: center;
    }
    &__button:hover {
        background-color:rgb(79, 194, 255);
    }
    &__button {
        height: 60px;
        width: 100%;
        font-size: 18px;
        letter-spacing: 1px;
        display: flex;
        align-items:center;
        span{
            margin-left: 10px;
        }
    }
    &__sortButton {
        height: 60px;
        font-size: 18px;
        // letter-spacing: 1px;
        background-color: rgb(108, 108, 108) ;
        border-left: 1px solid rgb(74, 74, 74);
        border-right: 1px solid rgb(74, 74, 74);
        transition: all .3s;
    }
    &__sortButton:hover {
        background-color: rgb(74, 74, 74)
    }
    
}
.searchBar{
margin-left: 20px;
position: initial;
}
