
    
.itemInCart{
    position:absolute;
   
    right:50px;
    top:10px;
    border-radius:50%;
    background-color:orange;
    display:flex;
    justify-content: center;
    align-items:center;
    width:20px;
    height:20px;
}