
    
.itemInCart{
    position:absolute;
   
    // right:50px;
    left:25px;
    top:-3px;
    border-radius:50%;
    background-color:orange;
    display:flex;
    justify-content: center;
    align-items:center;
    width:20px;
    height:20px;
}