.optionOrderCard {
    position: relative;
    width: 150px;
    height: 180px;
    max-height: 180px;
    border: 1px solid var(--blue-hover);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.container {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4px;
    height: 100%;
    max-height: 180px;


    input[type="radio"] {
        visibility: hidden;
    }
}
.title {
    text-align: center;
    margin: 10px;
}
.checkIcon {
    position: absolute;
    right: 8px;
    top: 0px;
    transform: translate(50%, -50%);
    padding: 0;
}
.check.active {
    color: var(--blue-hover);
}
.check {
    background-color: rgb(255, 255, 255);
    color: var(--blue-hover);
}
.deliveryPrice {
    width: 100%;
    font-size: 14px;
    p {
        margin: 10px;
        font-weight: 700;
    }
}
.icon {
    margin: 10px;
}
.optionOrderCard.active {
    background: var(--blue-transparent);
}
